:root {
  --bg: #f9fafb;
  --card: #fff;
  --text: #1f2937;
  --accent: #2563eb;
  --border: #e5e7eb;
  --radius: 14px;
}



/* Container */
.dashboard-container {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text);
  padding: 1.5rem;
  min-height: 100vh;
  transition: 0.3s ease;
  
}

/* Tabs */
.tab-bar {
  background: var(--card);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
  table-layout: fixed;
}

.tab-button {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text);
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.2s;
  font-size: 0.8rem;
}


.tab-button:hover {
  background: rgba(37, 99, 235, 0.08);
}

.tab-button.active {
  background: rgba(37, 99, 235, 0.15);
  color: var(--accent);
}

/* Stats */
.stats-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1.5rem;
}

/* .stat-card {
  background: var(--card);
  border-radius: var(--radius);
  border-top: 4px solid var(--accent);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04);
  transition: transform 0.2s;
} */

.stat-card:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 1.8rem;
  padding: 0.8rem;
  border-radius: var(--radius);
}

/* Charts */
.chart-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.chart-card {
  background: var(--card);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  padding: 1.2rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}
.full{
   margin-top: 2rem;
}
.chart-card h3 {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.placeholder {
  margin-top: 2rem;
  background: rgba(0, 0, 0, 0.04);
  padding: 2rem;
  border-radius: var(--radius);
  text-align: center;
  color: #64748b;
}


