

.header {
  height: 60px;
  background-color: var(--card-bg);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px var(--shadow);
  border-radius: none;
  margin-bottom: 10px;
  
}
.header.dark-mode{
    height: 60px;
  background-color: rgb(55, 55, 63);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px var(--shadow);
  border-radius: 0; 
}
span h4 {

  font-weight: 600;
}
span p {
  font-size: 0.7rem;
  color: var(--text-color);
  margin-top: 4px;
}
.info{
    display: flex;
    align-items: center;
    gap: 3px;
}
.notification{
    background-color: red;
    border-radius: 50%;
    margin: 0;
    font-size: 0.7rem;
    padding: 2px 4px;
   
    transform: translate(-10px, -13px);
  
}
.info-1{
    display: flex;
    align-items: center;
    align-self: center;
    gap: 8px;
    
}
.info-1 >*{
   font-size: 0.9rem;
   
   color: var(--text-color);
   margin-left: 4px;

}